/* Contact page styling */
.contact {
    padding: 20px;
    width: 40%;
    margin: auto
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: white;
    padding: 20px;
    border-radius: 5px;
}
button {
    margin-left: 40%;
    width: 100px;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #9a9ca3;
    border-radius: 5px;
}
button:hover {
    background-color: #4a60de;
    color: white;
}
input
{
    height: 30px;
}
textarea{
   height: 100px;
}