/* Contact page styling */
.contact {
    padding: 20px;
    max-width: 600px;   /* đẹp trên desktop */
    width: 100%;
    margin: auto;
}

form {
    /* align-self: center; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: white;
    padding: 20px;
    border-radius: 5px;
}
button {
    align-self: center;
    width: 120px;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #9a9ca3;
    border-radius: 5px;
}
button:hover {
    background-color: #4a60de;
    color: white;
}
input
{
    height: 30px;
}
textarea{
   height: 100px;
}

