.content{
    text-align: center;
}
.bio-img{
    margin: 10px;
    width: 95%;
    height: auto;
    float: center;
    border-radius: 15px;
}
.p1{
    padding: 15px;
    text-align: justify;
    border: 1px solid rgb(206, 186, 186);
    border-radius: 15px;
    background-color: antiquewhite;
}
.about-me{
    text-align: center;
    width: 160px;
    padding: 5px;
    border: 1px solid rgb(206, 186, 186);
    border-radius: 15px;
    background-color: antiquewhite;
}