/* Homepage specific styling */
.hero {
    background-image: url("../IMG/bia3.jpg") ;
    background-size: cover;
    color: rgb(244, 244, 244);
    padding: 60px;
    text-align: center;
    height: 1200px;
}
.sub-hero1{
    /* background-color: rgb(34, 34, 34); */
    color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
    font-size: 40px;
}

    


.profile {
    /* background-color: rgb#5467d6; */
    padding: 10px 0px;
    text-align: center;
    /* margin: 0 auto; */
}
#discover1{
    background-color: rgb(240, 107, 29);
    border-radius: 15px;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    /* font-size: 40px; */
    width: 250px;
    height: 30px;
}
#discover1 a{
    color: rgb(236, 224, 8);;
    text-decoration: none;
}
#discover1 a:hover{
    color: white;
    /* background-color: blue; */
}
#loader{
    position: fixed; inset: 0;
    display:flex; align-items:center; justify-content:center;
    background:#000; color:#fff;
    z-index: 9999;
  }
/* ===== VIDEO RESPONSIVE ===== */
.video-wrapper {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 30px auto;
    aspect-ratio: 16 / 9;
    background: #000;
    border-radius: 12px;
    overflow: hidden;
  }
  
  .video-thumb {
    position: absolute;
    inset: 0;
    cursor: pointer;
  }
  
  .video-thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 64px;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    width: 96px;
    height: 96px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .video-wrapper iframe {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    border: 0;
    display: none;
  }
  