.Services-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content:left;
    margin-left: 17px;
    margin-bottom: 20px;
}

.Services-item {
    background: linear-gradient(135deg, #ffffff, #eef1ff);
    padding: 20px;
    border-radius: 12px;
    width: 21%; /* 4 card 1 hàng */
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: 0.3s ease;
}

.Services-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.Services-item h3 {
    margin-bottom: 10px;
    color: #4a60de;
}

/* Responsive cho tablet */
@media screen and (max-width: 900px) {
    .Services-item {
        width: calc(50% - 20px); /* 2 card 1 hàng */
    }
}

/* Responsive cho mobile */
@media screen and (max-width: 600px) {
    .Services-item {
        width: 100%; /* 1 card 1 hàng */
    }
}
